/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BEGIN: Total amounts bar
 */
 
#total_amount_total_label,
#total_amount_payments_label,
#total_amount_available_label,
#total_amount_total,
#total_amount_payments,
#total_amount_available {
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#total_amount_total_label,
#total_amount_payments_label,
#total_amount_available_label{
  border-radius: 10px 10px 0 0;
}

#total_amount_total,
#total_amount_payments,
#total_amount_available {
  border-radius: 0 0 10px 10px;
}

#total_amount_total_label,
#total_amount_total{
  background-color: #49AFCD;
}

#total_amount_payments_label,
#total_amount_payments{
  background-color: #FAA732;
}

#total_amount_available_label,
#total_amount_available{
  background-color: #5BB75B;
}

/*
 * END: Total amounts bar
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BEGIN: Payments bar
 */

#payments_bar{
  margin-top: 16px;
}

.payment{
  float: left;
  margin: 1px;
  width: 186px;
}

.payment_header{
  background-color: #EEE;
  border-radius: 8px 8px 0 0;
  padding: 0 4px;
}

.payment_concept{
  float: left;
  line-height: 24px;
  width: 150px;
}

.payment .btn-group{
  display: none;
  float: right;
  margin-top: 2px;
}

.payment_amount{
  background-color: #DDD;
  border-radius: 0 0 8px 8px;
  line-height: 24px;
  text-align: center;
}

/*
 * END: Payments bar
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BEGIN: Color selector styles
 */
.btn_color_selector{
  border: 2px solid #FFF;
  border-radius: 4px;
  display: block;
  float: left;
  margin: 4px 4px 0 0;
  width: 16px;
  height: 16px;
}

.btn_color_selector:hover{
  border-color: #CCC;
}

.btn_color_selector.active{
  border-color: #555;
}


#btn_color_selector_blue{
  background-color: #0074CC;
}

#btn_color_selector_aqua{
  background-color: #49AFCD;
}

#btn_color_selector_green{
  background-color: #5BB75B;
}

#btn_color_selector_orange{
  background-color: #FAA732;
}

#btn_color_selector_red{
  background-color: #DA4F49;
}

/*
 * END: Color selector styles
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
 
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* BEGIN: Accounts list
*/

.account{
  float: left;
  margin: 18px 1px 0 1px;
  width: 468px;
  overflow: hidden;
}

.account_header{
  border-radius: 25px 4px 0 0;
}

.account_header h4{
  color: #FFF;
  font-size: 18px;
  line-height: 36px;
  padding: 0 0 0 18px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

.account_header h3{
  color: #FFF;
  font-size: 16px;
  line-height: 16px;
  margin: 0 50px 0 0;
  text-align: right;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  padding: 0 0 8px 0;
}

.account_header .btn-group{
  padding: 4px 4px 0 0;
}

.account_body{
  border: 1px solid rgba(0,0,0,0.2);
  border-width: 0px 1px 1px 1px;
  overflow: hidden;
  position: relative;
  width: 466px;
  height: 420px;
}

.movements_list{
  position: absolute;
  top: 0;
  left: 0;
  width: 466px;
}

.movement{
  border-top: 1px solid #CCC;
  padding: 4px;
}

.movement:hover{
  background-color: #F8F8F8;
}

.movement:first-child{
  border-top: none;
}

.movement_amount{
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 18px;
  width: 240px;
}

.movement.in .movement_amount{
  color: #5BB75B;
}

.movement.out .movement_amount{
  color: #FAA732;
}

.movement_date{
  float: left;
  font-size: 18px;
  line-height: 30px;
  text-align: right;
  width: 170px;
}

.movement_concept{
  font-size: 16px;
  padding-left: 18px;
}

.movement.to_delete .movement_amount,
.movement.to_delete .movement_date,
.movement.to_delete .movement_concept{
  text-decoration: line-through;
}

.movement_actions{
  display: none;
}

.btn_more_movements{
  border-top: 1px solid #CCC;
  border-radius: 0 0 20px 20px;
  background-color: #EEE;
  display: block;
  line-height: 28px;
  text-align: center;
}

.btn_more_movements:hover{
  background-color: #DDD;
  text-decoration: none;
}

/*
 * END: Accounts list
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
