body{
	/* Evitar quedar atras del .navbar de bootstrap */
	padding-top: 60px;
}

/*---------- Contenedor para los mensajes ----------*/
#main_msgs_wrapper{
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -450px;
  width: 900px;
  z-index: 1031;
}

#main_msgs_wrapper .alert{
  margin-bottom: 5px;
}

#main_msgs_wrapper .alert .count_down{
  float: right;
  position: relative;
  top: -1px;
  right: -25px;
}

/*---------- Mensaje para las solicitudes ajax ----------*/
#main_ajax_loading{
  display: none;
  left: 50%;
  margin-left: -44px;
  position: fixed;
  text-align: center;
  top: 50px;
  width: 80px;
  z-index: 1032;
}

/* Ancho >= 768 AND <= 979px */
@media (min-width: 768px) and (max-width: 979px){
  #main_msgs_wrapper{
    width: 700px;
    margin-left: -350px;
  }
}

/* Ancho <= 979px */
@media (max-width: 979px){
  #main_msgs_wrapper{
    top: 58px;
  }
}

/* Ancho <= 768px */
@media (max-width: 768px){
  #main_msgs_wrapper{
    width: 700px;
    left: 50%;
    margin-left: -350px;
  }
}

/* Ancho <= 767px */
@media (max-width: 767px) {
  #main_msgs_wrapper{
    left: 0;
    width: 100%;
    margin-left: 0;
  }

  #main_msgs_wrapper .alert{
    margin-left: 30px;
    margin-right: 30px;
  }
}
