body{
  padding-top: 50px;
}

#footer{
  border-top: 1px solid #CCC;
  color: #888;
  margin-top: 18px;
  padding-top: 18px;
  text-align: center;
}

#brand{
  position: relative;
  padding-right: 35px;
}

#beta_icon{
  background-image: url(../../img/beta.png);
  overflow: hidden;
  position: absolute;
  top: 4px;
  right: 0;
  text-indent: 100%;
  width: 32px;
  height: 32px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BEGIN: Login form styles
 */
 
ul#login_dropdown li{
  padding: 10px 15px;
}

/* No bottom margin on login form */
ul#login_dropdown li form{
  margin-bottom: 0;
}

#link_recover_password{
  font-size: 12px;
  padding: 0;
  margin: 0;
}
/*
 * END: Login form styles
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BEGIN: Bootstrap fixes
 */

h1, h2, h3, h4, h5, h6{
  margin: 0;
} 

/* No bottom margin in last .control-group inside modals */
.modal form .control-group:last-child{
  margin-bottom: 0;
}
/* No bottom margin in forms inside modals */
.modal form{
  margin-bottom: 0;
}

.icon-graph {
  background-image: url(../../img/icon-graph.png);
  background-position: 0 0;
}

.icon-graph.icon-white,
.dropdown-menu > li > a:hover > .icon-graph {
  background-image: url(../../img/icon-graph.png);
  background-position: -14px 0;
}

/*
 * END: Bootstrap fixes
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
